*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.theme-light {
  // COLOR
  --color-primary: #686868;
  --color-secondary: #ffffff;
  --color-background: #f8f8f8;
  --color-shadow: #000000;
  --color-text: #282b30;
}

.theme-dark {
  // COLOR
  --color-primary: #ffffff;
  --color-secondary: #171a1f;
  --color-background: #282b30;
  --color-shadow: none;
  --color-text: #ffffff;
}

:root {
  --container: 1170px;

  // COLOR
  --color-accent: #0064fb;
  --color-default-logo: #ffffff;
  --color-circle: #ffffff;
  --color-link-default: #ffffff;
  --color-button-default--static: #ffffff;
  --color-button-default--hover: #ffffff;
  --color-button-default-bg--static: #0064fb;
  --color-button-default-bg--hover: #6aa6ff;
  --color-slider-dot: #686868;
  --color-slider-dot-active: #ffffff;

  // FONT
  --font-size: 16px;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-family: "Roboto", "Montserrat", sans-serif;
  --font-montserrat: "Montserrat", "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--color-link-default);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    color: var(--color-accent);
  }
}

.button {
  color: var(--color-button-default--static);
  background-color: var(--color-button-default-bg--static);
  padding: 15px 50px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: all 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  &:hover {
    color: var(--color-button-default--hover);
    background-color: var(--color-button-default-bg--hover);
  }
}

.container {
  max-width: var(--container);
  padding: 0 15px;
  margin: 0 auto;
}

.circle {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  color: var(--color-default-logo);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-accent);
  &:hover {
    color: var(--color-circle);
  }
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover &__line {
    transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 20px;
  }
  &__line {
    transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 20px;
    height: 2px;
    display: block;
    background-color: var(--color-circle);
    margin: 2px 0;
    &:nth-child(2) {
      width: 15px;
    }
  }
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}

// SECTIONS

.section {
}

// HEADER
.header {
  &-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--color-accent);
      font-weight: var(--font-medium);
      font-size: 1.5em;
    }
    &-logo {
      &__circle {
        font-weight: var(--font-bold);
        margin: 0;
        margin-left: 4px;
        width: 55px;
        height: 55px;
      }
    }
    &__list {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-right: 25px;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__link {
      color: var(--color-primary);
    }
    &__wrap {
      background-color: var(--color-secondary);
      border-radius: 5px 0px;
      box-shadow: 0px -29px 47px var(--color-shadow);
    }
    &-burger {
      display: flex;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-montserrat);
    position: relative;
    &__suptitle {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    &__title {
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      margin-bottom: 90px;
      max-width: 970px;
    }
    &-image {
      padding: 262px 0px 95px 0px;
      background-image: url("../assets/img/fernando-hernandez-8Facxtxqojc-unsplash.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #ffffff;
      height: 90vh;
    }
  }
}

.slider {
  &-dots {
    position: absolute;
    bottom: 95px;
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }
  &-dot {
    display: block;
    margin: 0px 15px;
    width: 15px;
    height: 15px;
    background-color: var(--color-slider-dot);
    border-radius: 50%;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    &:hover {
      background-color: var(--color-slider-dot-active);
    }
    &--active {
      background-color: var(--color-slider-dot-active);
    }
  }
}
